 {% extends "public/templates/public_template.html" %}

 {% import "macros/input_macros.html" as im %}

 {% block title %}Jinja Template{% endblock %}

 {% block main %}

 <div class="container">
     <div class="row">
         <div class="col">

            <h1>Jinja template</h1>
            <hr>

            <h4>Variable</h4>
            <hr>
            <p>Name: {{ my_name }}</p>

            <h4>Looping</h4>
            <hr>
            <ul>
                {% for lang in langs %}

                <li>{{lang}}</li>

                {% endfor %}
            </ul>

            <h4>Looping with index</h4>
            <hr>
            <ul>
                {% for lang in langs %}

                <li>{{ loop.index0 }}: {{lang}}</li>

                {% endfor %}
            </ul>

            <h4>Looping in dict</h4>
            <hr>
            <ul>
                {% for key, val in family.items() %}

                <li>{{ key }}: {{ val }}</li>

                {% endfor %}
            </ul>

            <h4>Access list members</h4>
            <hr>
            <p>{{ langs[0] }}</p>

            <h4>Looping with index</h4>
            <hr>
            <p>{{ family["Suresh"] }}</p>

            <h4>class attributes</h4>
            <hr>
            <p>{{ my_remote.name }}</p>

            <h4>Unpack Variable</h4>
            <hr>
            {% set a, b = colors %}
            <p>{{  a }}</p>
            <p>{{ b }}</p>

            <h4>Looping with index</h4>
            <hr>
            <p>{{ repeat("FLASK IS AWESOME", 10) }}</p>

            <h4>Calling a class method</h4>
            <hr>
            <p>{{ my_remote.clone() }}</p>

            <h4>Conditionals</h4>
            <hr>
            {% if cool %}
                <p>Cool is {{ cool }}</p>
            {% endif %}

            <h4>Looping with index</h4>
            <hr>
            {% if age < 18 %}
            <p>No Entry</p>
            {% elif age < 26 %}
            <p>Nearly old enough</p>
            {% else %}
            <p>You may enter</p>
            {% endif %}

            <h4>Math</h4>
            <hr>
            <p>{{ age / 2 }}</p>

            <h4>Template filters</h4>
            <hr>
            <p>{{ family|length }}</p>
            <p>{{ my_name|reverse }}</p>
            <p>{{ my_name|upper }}</p>

            <p>{{ langs|join(", ") }}</p>

            <h4>Custom filters</h4>
            <hr>
            <p>{{ date|clean_date }}</p>

            <h4>Escaping</h4>
            <hr>
            {{ my_html|safe }}

            <h4>Suspicious</h4>
            <hr>
            {{ suspicious }}

            <h4>Macros</h4>
            <hr>

            {{ im.input(label="Your Name", name="name", id="name", placeholder="Please enter your name") }}

            {{ im.input(label="Your Age", type="number", name="age", id="age", placeholder="Please enter your age") }}

            {{ im.input(label="Password", type="password", name="password", id="password", placeholder="Please enter your password") }}
            
         </div>
     </div>
 </div>

 {% endblock %}